body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Background color for the whole page */
}

h2 {
    text-align: center;
    color: #4CAF50; /* Green color for the heading */
    margin-top: 20px;
}

#appointmentForm {
    background-color: #fff; /* White background for the form */
    max-width: 500px; /* Limit the width of the form */
    margin: 20px auto; /* Center the form horizontally with some spacing */
    padding: 20px; /* Add some padding inside the form */
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 16px); /* Adjust for padding */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
